.attributes {
  width: 1170px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.definition {
  width: 35%;
  margin-top: 50px;
}
.definition h3 {
  font-family: YekanBakhHeavy;
  font-size: 2rem;
}
.definition p {
  width: 85%;
  font-size: 1rem;
  margin-top: 40px;
  line-height: 40px;
}
.firstItems {
  border-left: 1px solid #e0e4e7;
}
.secondItems {
  border-bottom: 1px solid #e0e4e7;
}
.thirdItems {
  border-top: 1px solid #e0e4e7;
}
.fourthItems {
  border-right: 1px solid #e0e4e7;
}
.items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 60%;
  padding: 30px;
}
.items img {
  width: 60px;
  height: 60px;
}

.items .item {
  padding: 18px 25px 20px 0;
}
.items .item div {
  display: flex;
  align-items: center;
}
.items h4 {
  font-size: 1.5rem;
  font-family: YekanBakhHeavy;
  margin-right: 20px;
}
.items p {
  margin: 20px 0 20px 10px;
  font-size: 1rem;
  font-family: YekanBakhMedium;
  color: #303030;
  line-height: 36px;
}
@media (max-width: 1200px) {
  .attributes {
    width: 924px;
    padding: 0 8px;
    flex-direction: column;
  }
  .definition {
    width: 100%;
    margin-top: 40px;
  }
  .definition p {
    width: 100%;
    margin-top: 30px;
  }
  .firstItems,
  .secondItems,
  .thirdItems,
  .fourthItems {
    border: none;
  }
  .items {
    width: 90%;
    padding: 30px;
  }
  .items .item {
    padding: 18px 0 20px 50px;
  }
}
@media(max-width :990px){
    .attributes{
        width: auto;
         padding: 0 35px;
    }
}
@media(max-width : 768px){
    .definition{
        text-align: center;
        margin-top: 90px;
    }
    .definition h3{
        font-size: 1.6rem;
    }
    .items{
        width: 100%;
        padding: 5px 0;
    }
    .items .item{
        padding: 18px 0 20px 20px;
    }
}
@media(max-width : 575px){
    .items{
        padding: 50px 0;
        grid-template-columns: 1fr;
    }
    .items .item{
        padding: 18px 0;
    }
}